.experienciaGeral{
  border-radius: 1rem;
  height: max-content;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  background-color: var(--white-100);
}

.dark{
  background-color: var(--dark-80);
}