.projectRepository{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: var(--white-100);

  .techAndCommits{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.dark{
  background-color: var(--dark-80);
}