:root {
  --dark-100: #040413;
  --dark-80: #090918;
  --white-100: #FFF;
  --white-80: #FAFAFA;
  --white-60: #EDEDED;
  --degrade: linear-gradient(87.7deg, #4070F4 0%, #2BD67B 99.89%);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  border: none;
  font-family: "epilogue", Sans-serif;
  text-decoration: none;
  border-radius: 0;
  background: transparent;
}

html {
  font-size: 62.5%;
}

body{
  background-color: var(--white-60);
  font-size: 1.6rem;
}

a {
  color: inherit;
  text-decoration: none;
}