.layoutCategory{
  border-radius: 1rem;
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white-100);
}

.dark{
  background-color: var(--dark-80);
}